body{
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 15vh 30vh 30vh 120vh 20vh 60vh 40vh;
/* grid-template-columns:1fr 2fr 2fr 2fr ;
grid-template-rows:30vh
grid-template-columns: 1fr 1fr ;
grid-template-rows: 120vh 20vh 60vh 40vh;*/
}

#Viltskav_img{
    width: 425px;
    height: auto;
}

#Hakad_rödlök{
    width: 500px;
    height: auto;
}

#Renskav{
    width: 500px;
    height: auto;
}